{{#each grid as |column|}}
    <div class="column">
      {{#each column as |row|}}
        <div class="centered border" style={{blockCSS}}>

            {{#if row.name}}
              <div class="player">
                  {{row.name}}
                {{!player-piece player=column.player}}
              </div>
            {{/if}}

        </div>
      {{/each}}
    </div>
{{/each}}
