<div class="row menu centered-vertical">
    <div class="menu-button" {{action "menuClick"}}></div>
    <div class="menu-text">{{onlineStatusText}}</div>
</div>

<div class="title">
  {{applicationTitle}}
</div>

<div class="sub-title">
    {{subTitle}}
</div>