html, body{
  margin: 0;
  padding: 0;

  font-family: "Courier New", Courier, monospace;
}

.application{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.grow {
  flex-grow: 1;
}

.width- {
  &100 {
    width: 100%;
  }
}

.centered {
  display: flex;

  height: 100%;

  justify-content: center;
  align-items: center;
}

.centered-vertical {
  display: flex;
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.player {
  color: white;
  font-size: .8em;

  .name {
    align-self: center;
    font-size: 1em;

    padding-bottom: .2em;
  }

  .stats {

    span {
      padding: 0 4px;
    }

    .hp {
      color: green;
    }

    .defence {
      color: red;
    }

    .damage {
      color: cyan;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

}

.dead {
  color: white;
  background-color: gray;

  padding: 50px 30px;
  border-radius: 40px 40px 0px 0px;
}

.header-nav {
  height: 4vh;

  width: 100%;

  .title {
    font-size: x-large;
    font-weight: bolder;
  }

  .sub-title {
    position: fixed;
    right: 10px;

    font-size: smaller;
    font-weight: lighter;
  }

}

.game-square {
  background: url("/assets/images/game-square.jpg");

  border: thin solid white;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
